
<div class="container">
    <form action="">
        <div class="row">
            <div class="col">
                <h2 >Delivery Address</h2>
                <div class="inputBox">
                    <span>Full Name :</span><br/>
                    <input type="text" >
                </div>
                <div class="inputBox">
                    <label>Email :</label><br/>
                    <input type="email" name="email" >
                </div>
                <div class="inputBox">
                    <span>Phone Number :</span><br/>
                    <input type="email" >
                </div>
                <div class="inputBox">
                    <span>Address & PinCode :</span><br/>
                    <input type="text">
                </div>
                <div class="inputBox">
                    <span>City :</span><br/>
                    <input type="text">
                </div>
                <div class="inputBox">
                        <span>State :</span><br/>
                        <input type="text">
                </div>
                <div class="inputBox">
                    <input type="radio" id="apyment" name="fav_language" value="HTML" checked>
                    <span >Pay on Delivery</span>
                </div>
                <div>
                    <button  type="Submit"  (click)="payNow()"  class="btn submit-btn " style="width: 50%">Pay Now</button>
                </div>
            </div>
        </div>
        <br/>
                
    
        <span style="color:rgb(28, 120, 0);font-size: 25px;text-align: center;">{{msg}}</span>
    </form>
</div>    


