<mat-card style="text-align: center;">
    <mat-card-title>Admin Login</mat-card-title>
    <form [formGroup]="loginForm">

        <!-- Input for Email -->
        <p>
            <mat-form-field style="width:400px !important">
                <input matInput type="text" formControlName="email" placeholder="Enter email here" required />
            </mat-form-field>
        </p>

        <!-- Input for password -->
        <P>
            <mat-form-field style="width:400px !important">
                <input matInput type="password" formControlName="password" placeholder="Enter password here" required />
            </mat-form-field>
        </P>
        <button mat-raised-button class="btn btn-primary" color="accent" (click)=onSubmit()>
            Login
        </button>
    </form>
</mat-card>