
<div>
    <div class="container">
        <div class="text-center">
            
            <button routerLink="/users" class="btn btn-light btn-lg btn-block"><img src="/assets/usermanagement2.jpg" class="um"> User Management</button>
            <button routerLink="/ecommerce" class="btn btn-light btn-lg btn-block"><img src="/assets/productmanagement.jpg" class="pm"> Products Management</button><br />
        </div>
    </div>
    <div class="container">
        <button routerLink="/upload" class="btn btn-dark btn-lg btn-block"><img src="/assets/csv.png" class="csv"> Bulk Upload</button>
    </div>
    <br />
    <div class="container">
        <button class="btn btn-light btn-lg btn-block" ><a href="http://localhost:9123/api/csv/salesdownload" style="text-decoration: none; color: black;" class="pm">Download Sales</a></button>
    </div>
    <br>
    <div class="container">
        <button routerLink="/discount" class="btn btn-light btn-lg btn-block" >Generate Discount</button>
    </div>
    <br>
</div>