<footer>
  <ul>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-twitter"></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-google"></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-instagram"></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-linkedin-in"></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-github"></i></a>
  </ul>
  <ul>
    <li><a href="#">ShopForHome</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>
