h1{
  color:black;
  font-size: 35px;  
}
label{
  color:#061078;
  font-size:25px ;

  }
  h1{
    flex: 1 1 auto;
    margin: auto;
    width: 400px;
    text-align: center;
    display: flex;
    align-items: center;
}
table, th,td {
        border: 1px solid rgb(0, 0, 0);
        border-style: hidden;
        margin-left: 0.5%;
        margin-right:40%; 
        font-size: 20px;
        color:black;
      }
.card{
    align-items: center;
    background-color: greenyellow ;
    border-style: outset;
    border-color: red;
    border-width: 4px;
    border-radius: 15px;
    display: inline-block;
    width: 400px;
    padding: 18px;
    margin: 20px;  
    margin-left: 25%;
    margin-right:25%;
    width: 50%; 
      }
  .container{
  float:center;
align-items: center;
background-color:rgb(255, 255, 255);
border-style: outset;
border-width: 5px;
border-radius: 30px;
margin: 50px;
width: 400px;
border:black;
          } 
          